:root {
  --white: #fff;
  --primary-color: #EDF1D6;
  --secondary-color: #9DC08B;
  --third-color: #609966;
  --fourth-color: #40513B;
  --font-title: 'Roboto', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}



.page {
  background-color: var(--white);
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--secondary-color);
}

.active {
  font-weight: bolder;
  color: var(--white) !important;
  text-shadow: 2px 2px 5px #40513B;
  font-size: 1.1rem;
}

.noactive{
  font-weight: normal;
  color: var(--primary-color);
}